div.container {
	width: 750px;
	margin: 0px;
	border: none !important;
	line-height: 150%;
	float: inherit;
	margin-left: auto;
	margin-right: auto;
}

div.header {
	position: fixed;
	padding-bottom: 0.5em;
	padding-left: 15px;
	padding-right: 0.5em;
	padding-top: 0.5em;
	color: black;
	clear: left;
	text-align: center;
	font-family: 'lucida grande';
}

div.footer {
	font-family: 'lucida grande';
	padding-top: 20px;
}

h1.header {
	font-size: larger;
	padding: 0;
	margin: 0;
}

div.left {
	position: fixed;
	float: left;
	width: 130px;
	margin: 0;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3em;
}

div.right {
	float: right;
	width: auto;
	margin: 0;
	padding: 1em;
}

div.content {
	min-height: 100px;
	margin-left: auto;
	padding-left: 13em;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

div.helpInfoDiv {
	
}

/* .confession {
	color: #333333;
    line-height: 1.38;
    margin-left: 10px;
    font-family: lucida Grande;
    font-size: 13px;
}
 */
.activityButton {
	height: 40px;
	width: 44px;
	float: left;
}

.btnWrapper {
	position: absolute;
	right: 3px;
	text-align: right;
	top: -2px;
	z-index: 1;
}

.loaderWrap {
	position: absolute;
	right: 38px;
	top: 29px;
	z-index: 1;
}

.timerCountWrap {
	position: absolute;
	text-align: right;
	right: 3px;
	top: 29px;
	font-size: xx-small;
	z-index: 1;
}

.shareWrap {
	position: absolute;
	text-align: right;
	right: 3px;
	top: 24px;
	font-size: x-small;
	z-index: 1;
	font-weight: bold;
	background-color: white;
}

.activityButtonContainer {
	float: left;
	width: 57px;
}

.userControlButtonContainer {
	float: right;
	height: 30px;
}

.userControlButton {
	width: 20px;
	height: 20px;
	float: left;
}

.confessionScrollPanel {
	height: auto;
	width: 559;
	max-width: 1400px;
	min-width: 545px;
}

.loaderImage {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.menuItemSelected {
	background-color: #DAF7CF !important;
}

#auth-id {
	display: none;
}

.infoModalPopupWindow {
	background-color: white;
	width: 700px;
	padding: 10px;
	z-index: 1000;
}

.confessionGridElement {
	border-top-style: solid;
	border-top-color: silver;
	border-top-width: 1px;
	width: 563px;
}

.pardonStatusPanel {
	
}

.dateTimeStamp {
	color: gray;
	font-style: italic;
	font-size: small;
}

.fieldError {
	border-bottom-color: red !important;
	border-bottom-style: dashed !important;
	border-width: 2px !important;
}

.refreshButton {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: mintcream;
    background-image: url("/images/sprite_black2.png");
    background-origin: padding-box;
    background-position: -61px -19px;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 27px;
    width: 27px;
}

.confessionFilterOptionsList {
    background-color: mintcream;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-family: Comic Sans MS;
    font-size: large;
}
.confessionTitleText {
	font-size: large;
	font-weight: bold;
}

.moreTextLink {
	float: right;
}

.helpInfoPanel {
	border-color: black;
	margin-top: 6px;
	padding: 3px;
	border-style: solid;
	width: 137px;
}

.updateConfessionPanel {
	padding-left: 19px;
	font-size: 11px;
}

.confessionRelation {
    font-weight: bold;
}

.confessionUpdate {
    background-color: #FEFFED;
    color: #343434;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 522px;
    overflow: auto;
    border-bottom-color: #999999;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.updateText {
	float: left;
}

.questionMark {
	cursor: pointer;
	color: white;
}