@charset "UTF-8";
/* CSS Document */
.menu {
	width: 250px;
	height: auto;
	color: #333 !important;
	direction: ltr;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 1.28;
	text-align: left;
	word-wrap: break-word;
	width: 156px;
	border: none;
}

.link1 {
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
	background-image: url(images/globe.png);
	background-repeat: no-repeat;
	padding: 5px 5px 5px 30px;
	color: #333;
}

.link2 {
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
	background-image: url(images/write.png);
	background-repeat: no-repeat;
	padding: 5px 5px 5px 30px;
	color: #333;
}

.link3 {
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
	background-image: url(images/myconfessions1.png);
	background-repeat: no-repeat;
	padding: 5px 5px 5px 30px;
	color: #333;
}

.link4 {
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
	background-image: url(images/people.png);
	background-repeat: no-repeat;
	padding: 5px 5px 5px 30px;
	color: #333;
}

.link5 {
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
	background-image: url(images/people.png);
	background-repeat: no-repeat;
	padding: 5px 5px 5px 30px;
	color: #333;
}

menu a:link,menu a:visited {
	color: #666;
	display: block;
	padding: 5px 5px 5px 30px;
	text-decoration: none;
}

.menu a:hover {
	color: #07285d;
	display: block;
	background-color: #E9E9E9;
	padding: 5px 5px 5px 30px;
	text-decoration: none;
}

.write {
	vertical-align: text-top;
}

.human_points {
	background-color: #E9E9E9;
	font-size: smaller;
	color: #333333;
	vertical-align: text-top;
	margin-bottom: 2px;
	margin-top: 4px;
	width: 156px;
}

.humanPointImg {
	float: left;
	padding: 6px;
}

.humanPointLabel {
	float: left;
	font-size: 11px;
	margin-left: 3px;
	margin-top: 8px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

#leftHandMenuDiv {
	margin-top: 20px;
}

.menuItemSelected {
	background-color: #D8DFEA !important;
	font-weight: bold;
}

.toolTipTitle {
	text-align: center;
	font-weight: bold;
}