div.container {
	width: 750px;
	margin: 0px;
	border: none !important;
	line-height: 150%;
	float:inherit;
	margin-left:auto;
	margin-right:auto;
}

div.header {
	padding: 0.5em;
	color: black;
	clear: left;
	text-align: center;
	font-family: 'lucida grande';
}

div.footer {
	padding: 0.5em;
	color: black;
	clear: left;
	text-align: center;
	font-family: 'lucida grande';
}

h1.header {
	padding: 0;
	margin: 0;
}

div.left {
	float: left;
	width: auto;
	margin: 0;
	padding: 1em;
}

div.right {
	float: right;
	width: auto;
	margin: 0;
	padding: 1em;
}

div.content {
	min-height: 100px;
	margin-left: auto;
	padding: 1em;
}

.error-text-box {
	border: 1px solid red;
	background: white url("../images/Error.icon.gif")
		no-repeat left center;
	padding-left: 15px !important;
}

.formDromTable {
	background-color: #3B5998;
}








img {
	border: 0px;
}

.flt {
	float: left;
}

.menubg {
	clear: left;
	background-color: #3B5998;
	width: 202px;
}

.menu {
	float: left;
	clear: left;
	font: bold 11px Helvetica, Arial, sans-serif;
}

.menu li {
	margin: 0px 0px 0px 0px;
	list-style: none;
}

.menu a,.menu a:visited {
	width: 186px;
	height: 22px;
	margin: 0px 0px 2px -32px;
	position: relative;
	display: block;
	color: #cbe7f5;
	text-decoration: none;
	background: url(menubg2.jpg) no-repeat;
	padding: 4px 0 0 8px;
}

* html .menu a,.menu a:visited {
	width: 186px;
	height: 22px;
	margin: 0px 0px 2px -32px;
	position: relative;
	display: block;
	color: #cbe7f5;
	text-decoration: none;
	background: url(menubg2.jpg) no-repeat;
	padding: 4px 0 0 8px;
}

.menu a:hover,.menu a:active,.menu li.current_page_item a,.menu li.current_page_item a:visited
	{
	background: url(menubg1.jpg) no-repeat;
	text-decoration: none;
}

.bot {
	clear: left;
}

.confession {
	color: #333333;
    line-height: 1.38;
    margin-left: 10px;
    font-family: lucida Grande;
    font-size: 13px;
}

.activityButton {
	height: 40px;
	width: 44px;
	float: left;
}

.btnWrapper {
	position: absolute;
    right: 3px;
    text-align: right;
    top: -2px;
    z-index: 1;
}

.activityButtonContainer {
	float: left;
	width: 57px;	
}

.confessionScrollPanel {
	height: auto;
	width: 559;
	max-width: 1400px;
    min-width: 545px;
    max-height: 750px;
	min-height: 685px;
}

.loaderImage {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.confessionRegisterPage {
	width: 559;
	height: auto;
}

.registerConfessionTextBox {
	width: 440px !important;
	height: 300px;
}

.menuStyleName {
	
}

.menuItemSelected {
	background-color: #B4B9C4;
}