<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>confessionServlet</servlet-name>
		<servlet-class>com.l3.CB.server.ConfessionServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>confessionServlet</servlet-name>
		<url-pattern>/confessionbox/confession-box</url-pattern>
	</servlet-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>facebookServlet</servlet-name>
		<servlet-class>com.l3.CB.server.FacebookServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>facebookServlet</servlet-name>
		<url-pattern>/confessionbox/facebook</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ConfessionBox.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>com.l3.CB.server.ExtendedCaptchaServlet</servlet-class>
		<init-param>
			<param-name>width</param-name>
			<param-value>200</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>50</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/SimpleCaptcha.jpg</url-pattern>
	</servlet-mapping>
</web-app>